PTLDistributeWebAPI/Service References/ForCartFindingClientService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="QueryCfgEmployeeLoginNames">
    <xs:complexType />
  </xs:element>
  <xs:element name="QueryCfgEmployeeLoginNamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="QueryCfgEmployeeLoginNamesResult" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfString">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QueryCfgChannels">
    <xs:complexType />
  </xs:element>
  <xs:element name="QueryCfgChannelsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="QueryCfgChannelsResult" type="tns:ArrayOfCFG_ChannelDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfCFG_ChannelDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CFG_ChannelDto" nillable="true" type="tns:CFG_ChannelDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CFG_ChannelDto">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Id" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="Code" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QueryCfgWorkStations">
    <xs:complexType />
  </xs:element>
  <xs:element name="QueryCfgWorkStationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="QueryCfgWorkStationsResult" type="tns:ArrayOfCFG_WorkStationDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfCFG_WorkStationDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CFG_WorkStationDto" nillable="true" type="tns:CFG_WorkStationDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CFG_WorkStationDto">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Id" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="Code" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QueryCfgCart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="cfgCartCodeOrRfid" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryCfgCartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="QueryCfgCartResult" type="tns:CFG_CartDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="CFG_CartDto">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Id" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="Code" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="loginName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="password" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="LoginResult" type="tns:LoginResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="LoginResult">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Successful" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="CFG_EmployeeId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="FailedMessage" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QueryFndTasks">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="cfgWorkStationIds" type="tns:ArrayOfInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfInt">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="int" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QueryFndTasksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="QueryFndTasksResult" type="tns:ArrayOfFND_TaskDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfFND_TaskDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FND_TaskDto" nillable="true" type="tns:FND_TaskDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FND_TaskDto">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="FND_TaskId" type="xs:long" />
      <xs:element minOccurs="0" maxOccurs="1" name="ProjectCode" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ProjectStep" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="WorkStationCode" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CartName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="BatchCode" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="MaxNeedArrivedTime" type="xs:dateTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="LightColor" type="xs:unsignedByte" />
      <xs:element minOccurs="1" maxOccurs="1" name="FindingStatus" type="tns:FindingStatus" />
      <xs:element minOccurs="1" maxOccurs="1" name="DisplayTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="DepartedTime" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="FindingStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="New" />
      <xs:enumeration value="NeedDisplay" />
      <xs:enumeration value="Displaying" />
      <xs:enumeration value="NeedBlink" />
      <xs:enumeration value="Blinking" />
      <xs:enumeration value="NeedClear" />
      <xs:enumeration value="Finished" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="FindCart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="fndTaskId" type="xs:long" />
        <xs:element minOccurs="1" maxOccurs="1" name="lightColor" type="xs:unsignedByte" />
        <xs:element minOccurs="1" maxOccurs="1" name="cfgEmployeeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindCartResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="DepartCart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="fndTaskId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DepartCartResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="DockCartToChannel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="cfgChannelId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="cfgCartCodeOrRfid" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DockCartToChannelResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="UnDockCartFromChannel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="cfgChannelId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="cfgCartCodeOrRfid" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnDockCartFromChannelResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="BindCartRfid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="cfgCartCode" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="rfid1" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="rfid2" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BindCartRfidResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="QueryCurrentTaskInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="cfgChannelId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryCurrentTaskInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="QueryCurrentTaskInfoResult" type="tns:AndroidPdaTaskInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="AndroidPdaTaskInfo">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="CFG_ChannelId" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="CFG_CartId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="CartName" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="CartOnLine" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="CartPositions" type="tns:ArrayOfInt" />
      <xs:element minOccurs="0" maxOccurs="1" name="MaterialCode" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="MaterialName" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="PickedQuantity" nillable="true" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="ToPickQuantity" nillable="true" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="AssortingStatus" type="tns:AssortingStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="AssortingStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Assorting" />
      <xs:enumeration value="WaitingConfirm" />
      <xs:enumeration value="Finished" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TryRaisePtl900UAssortingPressed">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="cfgChannelId" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="cartPosition" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TryRaisePtl900UAssortingPressedResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="TryRaisePtlPublisherAssortingPressed">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="cfgChannelId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TryRaisePtlPublisherAssortingPressedResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="TestMethod_ClearCart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="cfgCartCodeOrRfid" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestMethod_ClearCartResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="DockCart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="nCartID" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="sName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="sDescription" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="nCount" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="sUnit" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DockCartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="DockCartResult" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnDockCart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="nCartID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnDockCartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="UnDockCartResult" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>